<h1 class="home-text">Contact Me</h1>
<p class="home-text">So you've got a job/internship for me? Maybe you just need a new friend? 
    Feel free to reach out to me with this handy form that totally works!</p><br>

<form action="http://web.engr.oregonstate.edu/~zhangluy/tools/class-content/form_tests/check_request.php" method="get">
  <fieldset>
    <fieldset>
        <label>First Name
            <input type="text" name="first-name" size="15" maxlength="15" placeholder="name"></label>
        <label>&nbsp;Last Name
            <input type="text" name="last-name" size="15" maxlength="15" placeholder="name"></label><br>
        <label>Email Address
            <input type="email" name="email" size="45" maxlength="45" placeholder="name@example.com"></label>
    </fieldset>
    <br>
    <button type="submit" class="btn btn-info">Submit Info</button>
  </fieldset>
</form>