<h1 class="home-text">Resume & Career</h1>

<p class="home-text">I'm currently a biomedical engineer working in medical device manufacturing, and I'm looking to 
    add some programming skills under my belt to land a software engineering position within my industry. I have 
    extensive experience in troubleshooting, problem solving, and root cause analysis and I hope to be able to bring
    those skills into programming as well.

    You can find my education, professional experience, and qualifications below. Please feel free to download my resume,
    and take a look at my LinkedIn/Github!
</p>

<table class="table table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col">School</th>
      <th scope="col">Majors/Minors</th>
      <th scope="col">Years Attended</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Oregon State University</td>
      <td>Computer Science</td>
      <td>2020 - Present</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Univsersity of California, San Diego</td>
      <td>BS Chemical Engineering, Minor in Business</td>
      <td>2012 - 2016</td>
    </tr>
  </tbody>
</table>

<div class="d-flex justify-content-center" id="resume-download">
	<button class="btn btn-success" onclick="document.getElementById('link').click()">Download Resume</button>
    <a id="link" href="Eric_Chiu_Resume.pdf" download hidden></a>
</div>
<br>
<br>
<p class="d-flex justify-content-center">Links to my LinkedIn & Github</p>
<div class="d-flex justify-content-center" id="links">
	<button class="btn btn-primary" onclick="document.getElementById('linkedin').click()">LinkedIn</button>
	<a id="linkedin" href="https://www.linkedin.com/in/ericwchiu" hidden></a>
    &nbsp;&nbsp;
	<button class="btn btn-dark" onclick="document.getElementById('github').click()">GitHub</button>
	<a id="github" href="https://github.com/ewchiu" hidden></a>
</div>