<h1 class="home-text">Resume & Career</h1>

<p class="home-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
    ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum 
    dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia 
    deserunt mollit anim id est laborum.</p>

<div class="d-flex justify-content-center" id="resume-download">
	<button class="btn btn-success" onclick="document.getElementById('link').click()">Download Resume</button>
    <a id="link" href="Eric_Chiu_Resume.pdf" download hidden></a>
</div>
<br>
<br>
<p class="d-flex justify-content-center">Here are links to my portfolio:</p>
<div class="d-flex justify-content-center" id="links">
	<button class="btn btn-primary" onclick="document.getElementById('linkedin').click()">LinkedIn</button>
	<a id="linkedin" href="https://www.linkedin.com/in/ericwchiu" hidden></a>
	<br>
	</br>
	<button class="btn btn-dark" onclick="document.getElementById('github').click()">GitHub</button>
	<a id="github" href="https://github.com/ewchiu" hidden></a>
</div>