<h1 class="home-text">Travel</h1>

<p class="home-text">I've been lucky enough to get the opportunity to travel to 30 countries across 6 continents.
Below I've put a list of all the countries I've been to so far!</p>

{{!-- Unordered list --}}
<div class="unorder-list align-middle">
    <ul>
        North America:
        <li>United States</li>
        <li>Canada</li><br>

        Europe:
        <li>United Kingdom</li>
        <li>France</li>
        <li>Switzerland</li>
        <li>Spain</li>
        <li>Italy</li>
        <li>Denmark</li>
        <li>Germany</li>
        <li>Czech Republic</li>
        <li>Slovakia</li>
        <li>Austria</li>
        <li>Hungary</li><br>
    </ul>
</div>

{{!-- Scroll box from Bootstrap --}}
<div class="scroll">
    <p>Here's the rest of the countries I've been to in a scroll box!</p>

    Asia:
    <li>China</li>
    <li>Japan</li>
    <li>South Korea</li>
    <li>Vietnam</li>
    <li>Thailand</li>
    <li>Cambodia</li>
    <li>Indonesia</li>
    <li>Singapore</li>
    <li>Taiwan</li><br>

    Africa:
    <li>Egypt</li><br>

    South America:
    <li>Peru</li>

    Oceania:
    <li>Australia</li>
</div>
